.row{
    font-family: Lato ,sans-serif;
}

.form-control {
    border: 1px solid;
    width: 100%;
}

form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: auto;
    width: 50% !important;
    border-radius: 10px;
    height: 26rem;
    position: relative;
}

.login-button {
    margin-top: 4%;
    width: 100%;
}

.or {
    background: #808f9d;
    border-radius: 27px;
    width: 53px;
    padding: 15px;
    position: absolute;
    top: 95%;
    left: 42%;
    right: 41%;
    margin: auto;
}

.other-login-holder {
    width: 50%;
    margin: auto;
    padding: 3%;
    background: #ddd;
    min-height: 104px;
}

.login-google {
    border: 1px solid;
    height: 45px;

}

.heading {
    margin: auto;
    top: 11%;
    left: 30%;
    font-size: 221%;
    font-weight: bolder;
}

.lorem-ipsum {
    margin-top: 12px;
}

.left-panel-holder {
    width: 72%;
    margin-left: 23%;
    margin-top: 3rem;
}